<?xml version ="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Login">
    <setting id="email" type="text" label="E-Mail" />
    <setting id="pass" type="text" label="Password" option="hidden" />
   <setting type="sep" />
    <setting id="debug" type="bool" label="Debug" default="false"/>
  </category>
</settings>
