<?xml version ="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Einstellungen">
    <setting id="email" type="text" label="E-Mail" />
    <setting id="pass" type="text" label="Password" option="hidden" />
    <setting type="sep" />
    <setting id="FSK18" type="bool" label="FSK18" default="false"/>
   <setting type="sep" />
    <setting id="debug" type="bool" label="Debug" default="false"/>
  </category>
</settings>
